@import url("https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5em;
  overflow-x: hidden;
}

img {
  width: 100%;
}

video {
  display: block;
  width: 100%;
}

.no-mobile {
  display: block;
}

.only-mobile {
  display: none;
}

::placeholder {
  color: white;
  opacity: 1;
  letter-spacing: 4px;
}

.search-input {
  background-color: transparent;
  border: none;
  letter-spacing: 2px;
  color: white;
  padding: 8px;
  width: 100%;
}

#search-btn {
  position: absolute;
  top: 45px;
  right: 0;
  display: flex;
  width: 45%;
}

#search-btn img {
  width: 64px;
}

#close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  width: 35px;
}

.full-video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.video-wrapper {
  /* font-size: 64px; */
  text-transform: uppercase;
  position: relative;
  /* padding: 64px 16px; */
}

.video-overlay-text {
  opacity: 0;
  font-size: 6.5vw;
  line-height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  transition: opacity 1s ease-in-out;
}

.text-section-full {
  padding: 128px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 100vh; */
}

.text-section-col {
  padding: 64px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.sub-text {
  font-size: 1vw;
  letter-spacing: 5px;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.title-text {
  font-size: 6vw;
  margin-bottom: 32px;
  /* margin-top: 16px; */
  text-transform: uppercase;
  line-height: 1em;
}

.video-top-text {
  font-size: 32px;
  letter-spacing: 5px;
  line-height: 1.5em;
  margin-top: 64px;
  margin-bottom: 32px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.main-text {
  max-width: 1024px;
  font-family: "Open Sans", sans-serif;
}

.section-half {
  width: 50%;
  /* display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}

.section-half .top-text {
  font-size: 58px;
  margin-bottom: 32px;
  text-transform: uppercase;
  line-height: 1em;
  width: 25vw;
  text-align: left;
  margin: 0 auto 16px;
}

.section-half .title-text {
  width: 25vw;
  font-size: 1.3vw;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  margin: 0 auto 16px;
  font-weight: 700;
}

.section-half .main-text {
  width: 25vw;
  text-align: left;
  margin: 0 auto;
}

.image-discover {
  padding: 0 128px;
  padding-left: 0;
}

.max-width {
  max-width: 1024px;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.right-align-text .title-text,
.right-align-text .main-text {
  text-align: right;
  width: 100%;
  padding-right: 64px;
}

#top-text {
  font-size: 64px;
  text-transform: uppercase;
  padding: 64px 16px;
}

.button {
  font-family: "Montserrat", sans-serif;
  font-size: 1vw;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 8px 16px;
  margin: 32px 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
}

.button img {
  width: 11px;
}

#nav {
  height: 100px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 99;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  z-index: 9999;
}

#logo-img {
  width: 120px;
  margin: 0 16px;
}

.menu-btn {
  width: 35px;
  margin: 0 16px;
  cursor: pointer;
}

#menu-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.9);
  z-index: 9999;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 64px;
  letter-spacing: 2px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease-in-out;
  flex-direction: column;
  padding-top: 32px;
}

.menu-item {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  padding-left: 32px;
  margin-top: 64px;
  text-align: left;
  font-size: 28px;
  letter-spacing: 4px;
  line-height: 1.5em;
  font-weight: 700;
}

.container-full {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url(images/discover-space-3.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  position: relative;
}

.container-inside {
  position: absolute;
  bottom: 30%;
  left: 0;
  width: 100%;
  text-align: left;
  padding-left: 20%;
}

.container-inside-title {
  font-size: 64px;
  padding: 32px 16px 32px 0;
  line-height: 1em;
}

.container-inside-sub {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 16px;
  font-size: 20px;
}

.points {
  font-family: "Open Sans", sans-serif;
  text-align: left;
  padding-right: 64px;
  margin-bottom: 64px;
}

.points li {
  font-size: 18px;
  margin-bottom: 16px;
  padding: 0 16px;
}

.points .sub {
  font-size: 14px;
}

.floating-image {
  /* position: absolute;
  top: 0;
  right: 0; */
  width: 27%;
}

.program-a {
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.school-inside-container {
  background-image: url(images/school/school-2.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 128px 32px 160px;
}

.school-inside-title {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
  font-size: 20px;
  margin-bottom: 128px;
  line-height: 1.5em;
}

.school-inside-copy {
  font-family: "Open Sans", sans-serif;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.5em;
  font-size: 20px;
}

.iframe-container {
  position: relative;
  width: 70%;
  height: 0;
  padding-bottom: 39.375%;
  /* padding-bottom: 56.25%; */
  /* margin-bottom: 64px; */
  margin: 64px auto 64px;
}

.iframe-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.school-programs {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  text-align: left;
  line-height: 1.5em;
  max-width: 1024px;
  margin: 128px auto 128px;
  letter-spacing: 4px;
  padding-left: 16px;
  font-weight: 700;
}

.split-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 64px;
}

.split-image {
  width: 33%;
}

.last-main-text {
  max-width: 512px;
  font-family: "Open Sans", sans-serif;
  margin: 32px 0;
}

.school-top-img {
  margin-top: 32px;
}

.discover-extra {
  width: 50%;
  margin: 128px auto 64px;
}

.quote-left {
  font-family: "Montserrat", sans-serif;
  max-width: 900px;
  margin: 128px auto 0;
  text-align: left;
  font-size: 32px;
  line-height: 1.5em;
  padding: 32px;
}

.quote-right {
  font-family: "Montserrat", sans-serif;
  max-width: 900px;
  margin: 0 auto;
  text-align: right;
  font-size: 32px;
  line-height: 1.5em;
  padding: 32px;
}

#discover-top {
  background-position-x: 0;
}

#para-video {
  height: 100vh;
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  .no-mobile {
    display: none;
  }
  .only-mobile {
    display: block;
  }

  .menu-item {
    margin-top: 40px;
    font-size: 20px;
  }

  #search-btn {
    top: initial;
    bottom: 32px;
    width: 75%;
  }
  .video-overlay-text {
    font-size: 16vw;
  }
  .sub-text {
    font-size: 4vw;
    letter-spacing: 5px;
    margin-bottom: 32px;
  }

  .title-text {
    font-size: 12vw;
    margin-bottom: 32px;
  }
  .main-text {
    max-width: 80%;
  }
  .max-width {
    flex-direction: column;
  }

  .section-half {
    width: 100%;
  }

  .section-half .title-text {
    width: 100%;
    font-size: 6vw;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 32px;
  }

  .section-half .main-text {
    width: 100%;
    text-align: center;
  }

  .image-discover {
    padding: 32px 16px 64px;
  }

  .column-reverse {
    flex-direction: column-reverse;
  }

  .button {
    font-family: "Montserrat", sans-serif;
    font-size: 4vw;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 8px 16px;
    margin: 32px 0;
    cursor: pointer;
    display: inline-block;
  }

  .text-section-col {
    padding: 32px 16px;
  }

  .container-inside {
    bottom: 15%;
    padding-left: 10%;
  }

  .container-inside-title {
    font-size: 32px;
    padding: 16px 16px 16px 0;
  }

  .container-inside-sub {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 16px;
    font-size: 10px;
  }
  .points {
    width: 100%;
  }
  .floating-image {
    position: relative;
    width: 85%;
  }
  .school-inside-title {
    font-size: 5.2vw;
  }

  .split-container {
    flex-direction: column;
  }
  .school-programs {
    font-size: 40px;
  }

  .split-image {
    width: 100%;
    margin-bottom: 32px;
  }
  .school-top-img {
    margin-top: 64px;
  }
  .iframe-container {
    width: 100%;
    padding-bottom: 56.25%;
  }

  .section-half .top-text {
    width: initial;
    text-align: center;
  }

  .program-a {
    flex-direction: column;
    align-items: center;
  }
  .discover-extra {
    width: 85%;
    margin: 64px auto 64px;
  }

  .container-full {
    background-attachment: scroll;
  }
  .school-inside-container {
    background-attachment: scroll;
  }
  #discover-top {
    background-position-x: -128px;
  }
  #para-video {
    height: initial;
    object-fit: contain;
  }
  .video-top-text {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .mobile-less-top-padding {
    padding-top: 64px;
  }
  .right-align-text .title-text,
  .right-align-text .main-text {
    padding-right: 0;
  }
}
